 <section id="top-bar" class="p-3">
   <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h6 class="mb-0 lan f-12 pb-0">ENGLISH</h6>
      </div>
      <div class="col-md-4">
        <p class="mb-0">The awards of design, creativity and innovation</p>
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#">
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook ml-3"></i>
          </a>

          <a href="#">
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </div>
      </div>
    </div>
   </div>   
  </section>

<!-- 
<div class="sidebar">
  <header>Sidebar</header>
  <ul>
    <li><a href="#"><i class="fas fa-sign-in-alt"></i>Register/Login</a></li>
    <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
    <li><a href="#"><i class="fas fa-trophy"></i>Winners</a></li>
    <li><a href="#"><i class="fas fa-layer-group"></i>Collections</a></li>
    <li><a href="#"><i class="fas fa-folder"></i>Directory</a></li>
    <li><a href="#"><i class="fas fa-blog"></i>Blog</a></li>
    <li><a href="#"><i class="fas fa-users"></i>About us</a></li>
  </ul>
</div> -->