{% extends 'projects/base.html'%}
{% load bootstrap4 %}

{% block content %}
{{block.super}}
<div class="container">
  <div class="home-imgs">
    {% for project in projects %}
    <div class="card" style="width: 18rem;">
      <a href="{% url 'post-detail' project.id %}">View site</a>
      <img src="{{ project.image.url }}" alt="" width="300" height="350" class="img-fluid">
      <div class="card-footer">
        {% for t in project.tag.all %}
        <span class="badge badge-pill badge-info">{{ t.name }}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}